#bar{
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; 
    position: fixed;
    overflow: auto;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
}
#bar div{
    display: block;
    color: white;
    margin: 10px;
    padding: 10px 100 px;
    text-decoration: none;
}
#bar div:hover{
    background: steelblue;
}
/* NavigationBar div div:hover{

} */
/* .NavigationBar:div.active {
    background-color:steelblue;
    color: white;
} */