form {
  flex: 1;
  flex-direction: row;
  display: flex;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  font-size: calc(10px + 2vmin);
  padding: 10px;
}
a{
  text-decoration: none;
  color: white;
}
.button {
  display: block;
  padding: 10px 100px;
  margin: 10px;
  background-color: cornflowerblue;
  font-size: calc(7px + 2vmin);
  text-decoration: none
}
.button:hover {
  background-color: steelblue;
}
.App-link {
  color: #09d3ac;
}
