/* .SignIn {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
} */

form {
  flex: 1;
  flex-direction: row;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  font-size: calc(10px + 2vmin);
  padding: 10px;
}
.button {
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  background-color: steelblue;
  font-size: calc(7px + 2vmin)
}
.App-link {
  color: #09d3ac;
}
